<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.istanbulhs.dashclock" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".ChooseHackerSpaceActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:label="Choose Your HackerSpace"
            android:theme="@android:style/Theme.Holo.Light.Dialog">
        </activity>

        <service
            android:name="org.istanbulhs.dashclock.StatusService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>
            <meta-data android:name="protocolVersion" android:value="2" />
            <meta-data android:name="worldReadable" android:value="true" />
            <meta-data android:name="description"
                android:value="Choose your HackerSpace to see its open state." />
            <!-- A settings activity is optional -->
            <meta-data android:name="settingsActivity"
                android:value=".ChooseHackerSpaceActivity" />
        </service>
    </application>

</manifest>
